{# homepage.html #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Distraqt</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
    
    <script type="text/javascript">
      $(function() {
        new Notes.Editor();
      });
    </script>
  </head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Distraqt</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--       <ul class="nav navbar-nav"> -->
<!--         <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li> -->
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul> -->
<!--         </li>
      </ul> -->
<!--       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signup</a></li>
        <li><a href="#">Login</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container content">
<div class="jumbotron">
  <div class="page-header">
  <h1>Distraqt</h1>
  <p>The world is full of distractions. Distraqt will help you achieve your goals and enjoy yourself in the process. Play your work. Achieve flow.</p>
  </p>


</div>

<button type="button" class="btn btn-lg btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">Let's Flow!</button><br></br>
</div>



<div class="modal fade bs-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id='msg' class='text-center'></h2>
        <h2 class="modal-title" id='time' class='text-center'></h2>
        <h2 class="modal-title" id='alert' class='text-center'></h2>
        <!--Active Timer-->

<!--Active Timer Close-->

</div>
<div class="modal-body">


<div id = "myAlert" class = "alert alert-success">
   <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
   <strong>Awesome. You're Done!</strong>
</div>

<div id = "myAlert-fail" class = "alert alert-danger">
   <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
   <strong>Enter a note!</strong>
</div>

  <div class='row'>
    <div class='col-xs-6'>
      <label for='work'>Flow (min): </label>
          <input autofocus id='work' type='text' min=0 max=200 value='25' >
    </div>
<!--     <div class='col-xs-6'>
          <label for='break'>Break time (min): </label>
          <input id='break' type='text' min=0 max=100 value=5>
  </div> -->

 </FORM>


    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>


      </div>
      <div class="modal-footer">
       <form action="." class="form" id="note-form" method="post">
<!--         <textarea class="form-control" rows="1" id="title" name="title" placeholder="Title"></textarea> -->
        <textarea class="form-control" rows="10" id="content" name="content" placeholder="Notes on your work"></textarea>
          <button id="save" class="btn btn-primary pull-right" type="submit">
          <span class="glyphicon glyphicon-plus"></span> Save flow block!
        </button>
        </div><!--Container Closer-->
      </form>


  <div class="btn-group" role="group" >
      <button id='start' class='btn btn-primary center-block'>Start</button>
      <button id='pause' class='btn btn-primary center-block pause'>Pause</button>
      <button id='reset' class='btn btn-primary center-block'>Reset</button>
  </div><!--Row Closer-->
<br></br>
<!--         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button> -->
      </div>
    </div>
  </div>
</div>

<!--end http://www.sitepoint.com/understanding-bootstrap-modals/-->

    </div>
    </div>


      <br></br>
      <ul class="list-unstyled notes">
        {% for note in notes %}
          {% include "note.html" %}
        {% endfor %}
      </ul>
      <div style="clear:both;"></div>

    </div>
    </div>

<div class="panel-footer"
        <hr />
        <p>Ari Akerstein, &copy; 2015</p>
</div>

  </body>
</html>

    </div>
  </body>
</html>